  <div class="data-form">
        <form class="form-signin" action="/signUp" method="POST">
        <h2 class="form-signin-heading">Create user:</h2>
        <label for="inputFirstName">Name</label>
        <input type="text" name="name"  placeholder="Name" 
       autofocus>
        <label for="inputEmail">Email</label>
        <input type="email" name="email" placeholder="Email" required>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" placeholder="Password" required>
         <button type="submit">Submit</button>
        </form>
       </div>

